<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thank You</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <h1>Details Successfully Submitted</h1>
        <p>Thank you!</p>
    </div>

    
</body>
</html>
